[Desktop Entry]
Type=Application
Name=SquintyMongrel
Comment=coolbreeze413 Qt application
Exec=squintymongrel
Icon=squintymongrel
Categories=Development;
